<div class="container">
  <div class="text-center nf-container mt-5">
    <img src="./images/RESPlogoBlu.png" class="mx-auto d-block img-fluid mb-5" alt="Response Logo">
    <h1>{{message}}</h1>
    <h2>{{error.status}}</h2>
    <a href="/">Go Back Home</a>
  </div>
</div>